<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>pyLiteracy 中文檢查器</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div>
      <label>Input：</label><br>
      <textarea class="inline-block" style="width:70%;height:300px;" id="inputSTR"></textarea>
      <input type="submit" id="submit" value="Check">
    </div>
    <div>
      <p id="result" class="inline-block" style="width:70%;height:300px;" name="outputSTR"></p>
    </div>
</body>
<script>
    $("#submit").click(function(){
        submit();
    });

    function submit(){
        var payload = {};
        payload["inputSTR"] = $("#inputSTR").val();
        $("#result").html("");
        $.ajax({url: "/gua",
                data: JSON.stringify(payload),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
            success: function(returnData){
                $("#result").html(returnData.checkResult);
            },
            error: function(xhr, ajaxOptions, thrownError){
                alert("error: "+ xhr.status);
                alert(thrownError);
            }
        });
    }
</script>
</html>