<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>pyLiteracy 中文檢查器</title>
  <link rel="icon" href="{{ url_for('static', filename='img/alpaca_logo.ico') }}">
  <script src="jquery-3.1.1.min.js"></script>
</head>
<body>
  <form action="test.php" method="post">
    <div>
      <label>Input：</label><br>
      <textarea class="inline-block" style="width:70%;height:300px;" name="inputSTR"></textarea>
      <button type="submit">Check</button>
    </div>
    <div>
      <p class="inline-block" style="width:70%;height:300px;" name="outputSTR"></p>
    </div>    
  </form>
</body>
</html>