<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>pyLiteracy 中文檢查器</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
</head>
<body>
    <div>
      <label>Input：</label><br>
      <textarea class="inline-block" style="width:70%;height:300px;" id="inputSTR"></textarea>
      <input type="submit" id="submit" value="Check">
    </div>
    <div>
      <p id="result" class="inline-block" style="width:70%;height:300px;" name="outputSTR"></p>
    </div>
</body>
<script>
    //id 為 submit 的元素被按下 (click) 時，執行 submit() 這支程式
    $("#submit").click(function(){
        submit();
    });
    //定義 submit() 的內容如下
    function submit(){
        var payload = {};                                        //準備上傳的內容為 payload
        payload["inputSTR"] = $("#inputSTR").val();              //將輸入區內的字串值載入 payload 中，給定 key 為 "inputSTR"
        $("#result").html("");                                   //將 id 為 result 的結果呈現區清空
        $.ajax({url: "/gua",                                     //使用 $.ajas() 功能將內容送出
                data: JSON.stringify(payload),
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
            success: function(returnData){                       //若成功處理，則將 id 為 result 的區塊填入 returnData 的 checkResult 值。
                $("#result").html(returnData.checkResult);
            },
            error: function(xhr, ajaxOptions, thrownError){     //若處理失敗，跳出錯誤原因資訊。
                alert("error: "+ xhr.status);
                alert(thrownError);
            }
        });
    }
</script>
</html>